In [1]:
#importing all the libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# reading the csv file
original_df=pd.read_csv("/content/train_tmdb.csv")
original_df.head()  # printing the first five rows

,id,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,poster_path,...,release_date,runtime,spoken_languages,status,tagline,title,keywords,cast,crew,revenue
0,653346,160000000,"Science Fiction, Adventure, Action",https://www.20thcenturystudios.com/movies/king...,tt11389872,en,Kingdom of the Planet of the Apes,Several generations in the future following Ca...,6245.898,/gKkl37BQuKTanygYQG1pyYgLVgf.jpg,...,2024-05-08,145,English,Released,No one can stop the reign.,Kingdom of the Planet of the Apes,"empire, kingdom, gorilla, dystopia, eagle, seq...","Owen Teague, Freya Allan, Kevin Durand, Peter ...","Wes Ball, Joe Hartwick Jr., Peter Chernin, Ric...",359039904
1,929590,50000000,"War, Action, Drama",https://a24films.com/films/civil-war,tt17279496,en,Civil War,"In the near future, a group of war journalists...",2730.901,/sh7Rg8Er3tFcN9BpKIPOMvALgZd.jpg,...,2024-04-10,109,English,Released,Welcome to the frontline.,Civil War,"sniper, new york city, race against time, wash...","Kirsten Dunst, Wagner Moura, Cailee Spaeny, St...","Andrew Macdonald, Allon Reich, Gregory Goodman...",114097977
2,823464,150000000,"Science Fiction, Action, Adventure",https://www.godzillaxkongmovie.com,tt14539740,en,Godzilla x Kong: The New Empire,"Following their explosive showdown, Godzilla a...",2726.153,/z1p34vh7dEOnLDmyCrlUVLuoDzd.jpg,...,2024-03-27,115,English,Released,Rise together or fall alone.,Godzilla x Kong: The New Empire,"giant monster, sequel, dinosaur, monkey, kaiju...","Rebecca Hall, Brian Tyree Henry, Dan Stevens, ...","Adam Wingard, Thomas Tull, Jon Jashni, Mary Pa...",567156493
3,719221,8000000,"Horror, Thriller",https://www.tarotmovie.com,tt14088510,en,Tarot,When a group of friends recklessly violate the...,2349.378,/gAEUXC37vl1SnM7PXsHTF23I2vq.jpg,...,2024-05-01,92,English,Released,Your fate is in the cards.,Tarot,"tarot cards, fate, slasher, group of friends, ...","Harriet Slater, Adain Bradley, Avantika, Jacob...","Anna Halberg, Spenser Cohen, Spenser Cohen, An...",41989392
4,573435,100000000,"Action, Crime, Thriller",https://www.badboys.movie,tt4919268,en,Bad Boys: Ride or Die,"After their late former Captain is framed, Low...",2486.516,/nP6RliHjxsz4irTKsxe8FRhKZYl.jpg,...,2024-06-05,115,English,Released,Miami's finest are now its most wanted.,Bad Boys: Ride or Die,"miami, florida, on the run, police detective, ...","Will Smith, Martin Lawrence, Vanessa Hudgens, ...","George Gallo, Jerry Bruckheimer, Adil El Arbi,...",104600000

In [3]:
original_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4007 entries, 0 to 4006
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    4007 non-null   int64
 1   budget                4007 non-null   int64
 2   genres                4005 non-null   object
 3   homepage              2054 non-null   object
 4   imdb_id               4007 non-null   object
 5   original_language     4007 non-null   object
 6   original_title        4006 non-null   object
 7   overview              4007 non-null   object
 8   popularity            4007 non-null   float64
 9   poster_path           4007 non-null   object
 10  production_companies  3999 non-null   object
 11  production_countries  4006 non-null   object
 12  release_date          4007 non-null   object
 13  runtime               4007 non-null   int64
 14  spoken_languages      4005 non-null   object
 15  status                4007 non-null   object
 16  tagline               3855 non-null   object
 17  title                 4007 non-null   object
 18  keywords              3975 non-null   object
 19  cast                  4006 non-null   object
 20  crew                  4007 non-null   object
 21  revenue               4007 non-null   int64
dtypes: float64(1), int64(4), object(17)
memory usage: 688.8+ KB

In [4]:
original_df.shape

(4007, 22)

In [5]:
#columns presented in the dataframe
original_df.columns

Index(['id', 'budget', 'genres', 'homepage', 'imdb_id', 'original_language',
       'original_title', 'overview', 'popularity', 'poster_path',
       'production_companies', 'production_countries', 'release_date',
       'runtime', 'spoken_languages', 'status', 'tagline', 'title', 'keywords',
       'cast', 'crew', 'revenue'],
      dtype='object')

1) change column names

homepage - movie_url

original_title - movie_title

In [6]:
original_df.rename(columns={"homepage" : "movie_url",
                            "original_title" : "movie_title"},inplace=True)

In [7]:
original_df.columns

Index(['id', 'budget', 'genres', 'movie_url', 'imdb_id', 'original_language',
       'movie_title', 'overview', 'popularity', 'poster_path',
       'production_companies', 'production_countries', 'release_date',
       'runtime', 'spoken_languages', 'status', 'tagline', 'title', 'keywords',
       'cast', 'crew', 'revenue'],
      dtype='object')

here, we see that the columns are changed

In [8]:
# @title 2)Finding and removing duplicate values

finding the duplicate values

In [9]:
original_df[original_df.duplicated()]

,id,budget,genres,movie_url,imdb_id,original_language,movie_title,overview,popularity,poster_path,...,release_date,runtime,spoken_languages,status,tagline,title,keywords,cast,crew,revenue
218,27579,20000000,"Crime, Drama, Thriller",https://www.focusfeatures.com/the_american,tt1440728,en,The American,Dispatched to a small Italian town to await fu...,107.384,/5OEOsRaBsSxD0qBtAhus0iKDzr.jpg,...,2010-08-31,104,"English, Italiano",Released,NaN,The American,"mission, assassin, prostitute, italy, anti her...","George Clooney, Violante Placido, Thekla Reute...","Rowan Joffe, Martin Ruhe, Anton Corbijn, Georg...",67900000
521,855,92000000,"Action, War, History",NaN,tt0265086,en,Black Hawk Down,When U.S. Rangers and an elite Delta Force tea...,70.210,/imGygQbmuc7gC1JZiAVhJLsUWXq.jpg,...,2001-12-28,145,"English, Somali",Released,Leave no man behind.,Black Hawk Down,"based on novel or book, ambush, chaos, militia...","Josh Hartnett, Eric Bana, Ewan McGregor, Tom S...","Simon West, Hans Zimmer, Slawomir Idziak, Ridl...",172989651
570,10193,200000000,"Animation, Family, Comedy",http://disney.go.com/toystory/,tt0435761,en,Toy Story 3,"Woody, Buzz, and the rest of Andy's toys haven...",81.644,/AbbXspMOwdvwWZgVN0nabZq03Ec.jpg,...,2010-06-16,103,"English, Español",Released,No toy gets left behind.,Toy Story 3,"escape, hostage, college, villain, sequel, bud...","Tom Hanks, Tim Allen, Joan Cusack, Don Rickles...","Lee Unkrich, Darla K. Anderson, Randy Newman, ...",1067316101
616,8810,2000000,"Adventure, Action, Thriller, Science Fiction",NaN,tt0082694,en,Mad Max 2,Max Rockatansky returns as the heroic loner wh...,84.421,/dhVekfpaCW3QavAwGYbaQig87Xc.jpg,...,1981-12-24,96,English,Released,"When all that's left is one last chance, pray ...",Mad Max 2,"mask, australia, chase, explosive, dystopia, b...","Mel Gibson, Bruce Spence, Michael Preston, Max...","George Miller, Terry Hayes, George Miller, Byr...",24600832
764,101299,130000000,"Adventure, Action, Science Fiction",http://www.thehungergames.movie/,tt1951264,en,The Hunger Games: Catching Fire,Katniss Everdeen has returned home safe after ...,67.542,/v9qVkyS58WHdfrcEq0dxUJFKS9n.jpg,...,2013-11-15,146,English,Released,Remember who the enemy is.,The Hunger Games: Catching Fire,"rebellion, based on novel or book, propaganda,...","Jennifer Lawrence, Josh Hutcherson, Liam Hemsw...","Suzanne Collins, Jim Hewitt, Jon Kilik, Simon ...",865011746
765,101299,130000000,"Adventure, Action, Science Fiction",http://www.thehungergames.movie/,tt1951264,en,The Hunger Games: Catching Fire,Katniss Everdeen has returned home safe after ...,67.542,/v9qVkyS58WHdfrcEq0dxUJFKS9n.jpg,...,2013-11-15,146,English,Released,Remember who the enemy is.,The Hunger Games: Catching Fire,"rebellion, based on novel or book, propaganda,...","Jennifer Lawrence, Josh Hutcherson, Liam Hemsw...","Suzanne Collins, Jim Hewitt, Jon Kilik, Simon ...",865011746
898,215,4000000,Horror,NaN,tt0432348,en,Saw II,The chilling and relentless Jigsaw killer retu...,50.536,/AwfBNpkedYcXt9BjGEYZf5g2s37.jpg,...,2005-10-28,93,English,Released,Oh yes... There will be blood.,Saw II,"sadism, riddle, serial killer, torture, surviv...","Tobin Bell, Donnie Wahlberg, Shawnee Smith, Er...","Kevin Greutert, Oren Koules, David Hackl, Amy ...",147748505
1029,336843,62000000,"Science Fiction, Action, Adventure, Thriller",https://www.20thcenturystudios.com/movies/maze...,tt4500922,en,Maze Runner: The Death Cure,Thomas leads his group of escaped Gladers on t...,54.040,/2zYfzA3TBwrMC8tfFbpiTLODde0.jpg,...,2018-01-10,143,English,Released,The end will be WCKD,Maze Runner: The Death Cure,"based on novel or book, fight, maze, post-apoc...","Dylan O'Brien, Kaya Scodelario, Thomas Brodie-...","Nicole Connelly, Wes Ball, T.S. Nowlin, James ...",288175335
1089,364689,111000000,"Animation, Family, Adventure, Comedy",https://www.foxmovies.com/movies/ferdinand,tt3411444,en,Ferdinand,"Ferdinand, a little bull, prefers sitting quie...",56.027,/rMm94JsRfcOPiPVsTRcBiiVBOhz.jpg,...,2017-12-09,108,English,Released,Built to Fight. Born to Love.,Ferdinand,"friendship, spain, madrid, spain, europe, anth...","John Cena, Kate McKinnon, Anthony Anderson, Bo...","Carlos Saldanha, John Powell, Renato Falcão, L...",295038508
1217,924,26000000,"Action, Horror, Drama",http://www.dawnofthedeadmovie.net/,tt0363547,en,Dawn of the Dead,A group of survivors take refuge in a shopping...,49.591,/fNw87FZ6u258qmbkNNjrPtGZuvB.jpg,...,2004-03-19,101,English,Released,"When there's no more room in Hell, the dead wi...",Dawn of the Dead,"nurse, department store, shotgun, pregnancy, b...","Sarah Polley, Ving Rhames, Ty Burrell, Inna Ko...","Zack Snyder, James Gunn, Marc Abraham, Eric Ne...",102278712
1255,440,40000000,"Fantasy, Action, Science Fiction, Thriller, Ho...",http://www.avp-r.com/,tt0758730,en,Aliens vs Predator: Requiem,After a horrifying PredAlien crash-lands near ...,51.322,/jCyJN1vj8jqJJ0vNw4hDH2KlySO.jpg,...,2007-12-25,94,English,Released,On Earth everyone can hear you scream.,Aliens vs Predator: Requiem,"predator, hybrid, colorado, national guard, mo...","Steven Pasquale, Reiko Aylesworth, John Ortiz,...","Brian Tyler, Dan Zimmerman, Andrew Neskoromny,...",130290885
1359,601,10500000,"Science Fiction, Adventure, Family, Fantasy",http://www.et20.com/,tt0083866,en,E.T. the Extra-Terrestrial,An alien is left behind on Earth and saved by ...,46.087,/pEKStszBzTZCvR0H4tosjqxmE7X.jpg,...,1982-06-11,115,English,Released,He is afraid. He is alone. He is three million...,E.T. the Extra-Terrestrial,"farewell, space marine, operation, flying sauc...","Henry Thomas, Drew Barrymore, Robert MacNaught...","John Williams, Leslie Butcher, Carlo Rambaldi,...",792965500
1421,52451,75000000,"Adventure, Action, Thriller",http://www.threemusketeers-movie.com/,tt1509767,en,The Three Musketeers,The hot-headed young D'Artagnan along with thr...,66.940,/woCADkkDIIKrOMEokbFOEsAYtUa.jpg,...,2011-08-31,110,English,Released,Every legend has a new beginning.,The Three Musketeers,"france, swordplay, sword fight, historical fic...","Logan Lerman, Milla Jovovich, Matthew Macfadye...","Paul W. S. Anderson, Martin Moszkowicz, Andrew...",132274484
1453,2924,75000000,"Drama, Thriller, Action, Crime",https://www.uphe.com/movies/backdraft,tt0101393,en,Backdraft,Firemen brothers Brian and Stephen McCaffrey b...,28.339,/bymJtYNIdiAiBR1LRetaJXbfryc.jpg,...,1991-05-24,137,English,Released,"Silently behind a door, it waits. One breath o...",Backdraft,"chicago, illinois, rescue, fire, corruption, s...","Kurt Russell, William Baldwin, Robert De Niro,...","Ron Howard, Gregory Widen, Richard Barton Lewi...",152368585
1498,8645,60000000,"Thriller, Science Fiction",http://www.thehappeningmovie.com,tt0949731,en,The Happening,When a deadly airborne virus threatens to wipe...,32.961,/v1Cw6WaCjNqInpAzUwbXB4LGgoX.jpg,...,2008-06-11,91,"English, Français",Released,We've sensed it. We've seen the signs. Now...i...,The Happening,"suicide, husband wife relationship, tree, natu...","Mark Wahlberg, Zooey Deschanel, John Leguizamo...","Stephanie Holbrook, Barry Mendel, Jose L. Rodr...",163403799
1499,481084,40000000,"Family, Animation, Comedy, Fantasy",https://www.addamsfamily.movie/,tt1620981,en,The Addams Family,The Addams family's lives begin to unravel whe...,49.967,/q1epO0eO8DWu8Vo8tPfvVlzW48T.jpg,...,2019-10-10,86,English,Released,Think your family is weird?,The Addams Family,"cartoon, black humor, family, addams family","Oscar Isaac, Charlize Theron, Chloë Grace More...","Conrad Vernon, Greg Tiernan, Charles Addams, M...",204394183
1500,70,30000000,Drama,http://www.milliondollarbaby-derfilm.de/,tt0405159,en,Million Dollar Baby,Despondent over a painful estrangement from hi...,35.707,/2ti3l1OeB8G94yyqfAI7nmMZUbA.jpg,...,2004-12-15,132,"English, Gaeilge",Released,"Beyond his silence, there is a past. Beyond he...",Million Dollar Baby,"dying and death, transporter, strong woman, st...","Clint Eastwood, Hilary Swank, Morgan Freeman, ...","Tom Rosenberg, Albert S. Ruddy, Clint Eastwood...",216763646
1588,291870,11500000,Comedy,http://www.dirtygrandpa.movie/,tt1860213,en,Dirty Grandpa,Jason Kelly is one week away from marrying his...,37.511,/k0Lz1TfSlbcQthQKYGwE7blDfwN.jpg,...,2016-01-20,102,English,Released,Jason is ready for adulthood. His grandpa isn't.,Dirty Grandpa,"funeral, golf, grandfather, road trip, crude h...","Robert De Niro, Zac Efron, Aubrey Plaza, Zoey ...","Anne McCabe, William Arnold, John Phillips, Da...",94100000
1618,138,355000,Horror,NaN,tt0021814,en,Dracula,British estate agent Renfield travels to Trans...,29.698,/ueVSPt7vAba0XScHWTDWS5tNxYX.jpg,...,1931-02-12,74,"English, Magyar, Latin",Released,The story of the strangest passion the world h...,Dracula,"monster, based on novel or book, transylvania,...","Bela Lugosi, Helen Chandler, David Manners, Dw...","Carl Laemmle Jr., Bram Stoker, Tod Browning, H...",700000
1645,16577,10000000,"Animation, Action, Family, Science Fiction",http://www.astroboy-themovie.com/,tt0375568,en,Astro Boy,"Set in the futuristic Metro City, Astro Boy (A...",31.630,/nKiEA8Z81i2sWxhjs0pcNbs2Rmr.jpg,...,2009-10-15,94,English,Released,Have a blast.,Astro Boy,"future, hero, superhero, based on manga, robot...","Nicolas Cage, Madeline Carroll, Freddie Highmo...","Osamu Tezuka, Timothy Harris, David Bowers, Ke...",19551067
1776,443791,50000000,"Horror, Science Fiction, Action, Adventure",https://www.20thcenturystudios.com/movies/unde...,tt5774060,en,Underwater,After an earthquake destroys their underwater ...,47.103,/gzlbb3yeVISpQ3REd3Ga1scWGTU.jpg,...,2020-01-08,95,English,Released,7 miles below the ocean surface something has ...,Underwater,"monster, self sacrifice, deep sea, animal atta...","Kristen Stewart, Vincent Cassel, Mamoudou Athi...","William Eubank, Peter Chernin, Tonia Davis, Ke...",40882928
2983,12133,65000000,Comedy,NaN,tt0838283,en,Step Brothers,Brennan Huff and Dale Doback might be grown me...,34.522,/wRR6U3K3v2iQsG3uw7ehz1ctRyT.jpg,...,2008-07-25,98,"English, Español",Released,They grow up so fast.,Step Brothers,"becoming an adult, hostility, autonomy, childh...","Will Ferrell, John C. Reilly, Mary Steenburgen...","Adam McKay, Will Ferrell, Will Ferrell, Judd A...",128100000
3322,2655,100000000,"Drama, Horror, Mystery, Thriller",NaN,tt0161081,en,What Lies Beneath,When Claire Spencer starts hearing ghostly voi...,24.274,/2L3Cn0CizbSy2E9KJt1SiOSyb6p.jpg,...,2000-07-21,130,English,Released,He was the perfect husband until his one mista...,What Lies Beneath,"lake, therapist, haunted house, haunting, susp...","Harrison Ford, Michelle Pfeiffer, Diana Scarwi...","Robert Zemeckis, Clark Gregg, Robert Zemeckis,...",291400000
3323,51588,8000000,"Comedy, Romance",http://disney.go.com/disneypictures/prom/index...,tt1604171,en,Prom,"At “Prom,” every couple has a story and no two...",42.195,/pOYSCjYylOsEPkql3m9gcV1jycR.jpg,...,2011-04-29,104,English,Released,"There are hundreds of nights in high school, b...",Prom,"high school, friendship, waitress, single pare...","Aimee Teegarden, Thomas McDonell, Nolan Sotill...","Joe Nussbaum, Katie Wech, Ted Griffin, Jojo Vi...",10130000
3903,34016,20000000,"Romance, Comedy",http://www.getyourrating.com/,tt0815236,en,She's Out of My League,When he starts dating drop-dead gorgeous Molly...,27.522,/wTy3rtmbgJkClR492q6FBbtdeMb.jpg,...,2010-03-11,104,English,Released,"When she's this hot, You get one shot.",She's Out of My League,"airport, ex-boyfriend, ex-girlfriend, romantic...","Jay Baruchel, Alice Eve, T.J. Miller, Nate Tor...","Sean Anders, John Morris, Jim Denault, Dan Sch...",49800000
3997,823464,150000000,"Science Fiction, Action, Adventure",https://www.godzillaxkongmovie.com,tt14539740,en,Godzilla x Kong: The New Empire,"Following their explosive showdown, Godzilla a...",2726.153,/z1p34vh7dEOnLDmyCrlUVLuoDzd.jpg,...,2024-03-27,115,English,Released,Rise together or fall alone.,Godzilla x Kong: The New Empire,"giant monster, sequel, dinosaur, monkey, kaiju...","Rebecca Hall, Brian Tyree Henry, Dan Stevens, ...","Adam Wingard, Thomas Tull, Jon Jashni, Mary Pa...",567156493
3998,719221,8000000,"Horror, Thriller",https://www.tarotmovie.com,tt14088510,en,Tarot,When a group of friends recklessly violate the...,2349.378,/gAEUXC37vl1SnM7PXsHTF23I2vq.jpg,...,2024-05-01,92,English,Released,Your fate is in the cards.,Tarot,"tarot cards, fate, slasher, group of friends, ...","Harriet Slater, Adain Bradley, Avantika, Jacob...","Anna Halberg, Spenser Cohen, Spenser Cohen, An...",41989392
3999,573435,100000000,"Action, Crime, Thriller",https://www.badboys.movie,tt4919268,en,Bad Boys: Ride or Die,"After their late former Captain is framed, Low...",2486.516,/nP6RliHjxsz4irTKsxe8FRhKZYl.jpg,...,2024-06-05,115,English,Released,Miami's finest are now its most wanted.,Bad Boys: Ride or Die,"miami, florida, on the run, police detective, ...","Will Smith, Martin Lawrence, Vanessa Hudgens, ...","George Gallo, Jerry Bruckheimer, Adil El Arbi,...",104600000
4000,614933,100,"Science Fiction, Action",https://www.netflix.com/title/81012048,tt14856980,en,Atlas,A brilliant counterterrorism analyst with a de...,1828.902,/bcM2Tl5HlsvPBnL8DKP9Ie6vU4r.jpg,...,2024-05-23,120,English,Released,The future of humanity is in her hands.,Atlas,"mission, artificial intelligence (a.i.), explo...","Jennifer Lopez, Simu Liu, Sterling K. Brown, G...","Brad Peyton, Leo Sardarian, Joby Harold, Tory ...",0
4001,746036,125000000,"Action, Comedy",https://www.thefallguymovie.com,tt1684562,en,The Fall Guy,"Fresh off an almost career-ending accident, st...",1382.602,/tSz1qsmSJon0rqjHBxXZmrotuse.jpg,...,2024-04-24,126,"English, Français",Released,Fall hard.,The Fall Guy,"stuntman, missing person, duringcreditsstinger...","Ryan Gosling, Emily Blunt, Aaron Taylor-Johnso...","Drew Pearce, David Leitch, Kelly McCormick, Da...",165002525
4002,437342,30000000,Horror,https://www.20thcenturystudios.com/movies/the-...,tt5672290,en,The First Omen,When a young American woman is sent to Rome to...,1389.513,/uGyiewQnDHPuiHN9V4k2t9QBPnh.jpg,...,2024-04-03,119,"English, Italiano",Released,Create something to fear.,The First Omen,"nun, prophecy, italy, devil's son, revelation,...","Nell Tiger Free, Ralph Ineson, Sônia Braga, Bi...","David S. Goyer, Arkasha Stevenson, Arkasha Ste...",53689531
4003,1011985,80000000,"Animation, Action, Family, Comedy, Fantasy",https://www.dreamworks.com/movies/kung-fu-panda-4,tt21692408,en,Kung Fu Panda 4,Po is gearing up to become the spiritual leade...,1061.125,/kDp1vUBnMpe8ak4rjgl3cLELqjU.jpg,...,2024-03-02,94,English,Released,NaN,Kung Fu Panda 4,"martial arts, kung fu, china, sequel, panda, a...","Jack Black, Awkwafina, Viola Davis, Dustin Hof...","Natalia Cronembold, Stephanie Ma Stine, Rebecc...",539271347
4004,786892,168000000,"Action, Adventure, Science Fiction",https://www.furiosaamadmaxsaga.com,tt12037194,en,Furiosa: A Mad Max Saga,"As the world fell, young Furiosa is snatched f...",1122.616,/iADOJ8Zymht2JPMoy3R7xceZprc.jpg,...,2024-05-22,149,English,Released,Fury is born.,Furiosa: A Mad Max Saga,"post-apocalyptic future, prequel, spin off","Anya Taylor-Joy, Chris Hemsworth, Tom Burke, A...","George Miller, George Miller, Doug Mitchell, T...",144060154
4006,693134,190000000,"Science Fiction, Adventure",https://www.dunemovie.com,tt15239678,en,Dune: Part Two,Follow the mythic journey of Paul Atreides as ...,903.033,/1pdfLvkbY9ohJlCjQH2CZjjYVvJ.jpg,...,2024-02-27,167,English,Released,Long live the fighters.,Dune: Part Two,"epic, based on novel or book, fight, politics,...","Timothée Chalamet, Zendaya, Rebecca Ferguson, ...","Denis Villeneuve, Frank Herbert, Jon Spaihts, ...",711844359

In [10]:

print(" these are the columns with duplicated values ")
print("----------------------------------------------")
original_df[original_df.duplicated()].index

 these are the columns with duplicated values
----------------------------------------------

Index([ 218,  521,  570,  616,  764,  765,  898, 1029, 1089, 1217, 1255, 1359,
       1421, 1453, 1498, 1499, 1500, 1588, 1618, 1645, 1776, 2983, 3322, 3323,
       3903, 3997, 3998, 3999, 4000, 4001, 4002, 4003, 4004, 4006],
      dtype='int64')

In [11]:
print("rows and columns before remove duplicates")
print("""----------------------------------------""")
original_df.shape

rows and columns before remove duplicates
----------------------------------------

(4007, 22)

removing the duplicated from the original dataframe

In [12]:
original_df.drop_duplicates(inplace=True)

In [13]:
#check if any duplicated present
original_df.duplicated().sum()

0

In [14]:
print("rows and columns after remove duplicates")
print("""----------------------------------------""")
original_df.shape

rows and columns after remove duplicates
----------------------------------------

(3973, 22)

3) checking of any null or empty values in dataframes and try to fetch and add that missing data using movie id from tmdb api's

In [15]:
#checking for null and empty values
print("null values")
print(original_df.isnull().sum())
print("empty values")
(original_df==' ').sum()

null values
id                         0
budget                     0
genres                     2
movie_url               1947
imdb_id                    0
original_language          0
movie_title                1
overview                   0
popularity                 0
poster_path                0
production_companies       8
production_countries       1
release_date               0
runtime                    0
spoken_languages           2
status                     0
tagline                  150
title                      0
keywords                  32
cast                       1
crew                       0
revenue                    0
dtype: int64
empty values

id                      0
budget                  0
genres                  0
movie_url               0
imdb_id                 0
original_language       1
movie_title             0
overview                0
popularity              0
poster_path             0
production_companies    0
production_countries    0
release_date            0
runtime                 0
spoken_languages        0
status                  0
tagline                 0
title                   0
keywords                0
cast                    0
crew                    0
revenue                 0
dtype: int64

In [16]:
df=original_df.copy()

In [17]:
import requests

# Function to fetch movie details from TMDB using IMDb ID
def fetch_movie_details(imdb_id, api_key):
    url = f"https://api.themoviedb.org/3/find/{imdb_id}"
    params = {
        'api_key': api_key,
        'external_source': 'imdb_id'
    }
    response = requests.get(url, params=params)
    if response.status_code == 200:
        data = response.json()
        if data['movie_results']:
            movie = data['movie_results'][0]
            movie_url = f"https://www.themoviedb.org/movie/{movie['id']}"
            movie_title = movie['title']
            tagline = data.get("tagline", "N/A")
            production_companies = data.get("production_companies", [])
            production_countries = data.get("production_countries", [])
            cast = data.get("cast", [])
            crew = data.get("crew", [])
            return movie_url, movie_title, tagline, production_companies, production_countries, cast, crew
    return None, None, None, None, None, None, None



# my API key
api_key = 'b95c9fdd84a97ae3467206de8b62cfe7'

# Iterate over the rows to fill missing movie_url and movie_title
for index, row in df.iterrows():
    if pd.isnull(row['movie_url']) or pd.isnull(row['movie_title']) or row['movie_url'] == '' or row['movie_title'] == '':
        imdb_id = row['imdb_id']
         #movie= fetch_movie_details(imdb_id, api_key)
        movie_url, movie_title, tagline,production_companies,production_countries,cast,crew = fetch_movie_details(imdb_id, api_key)
        if movie_url:
            df.at[index, 'movie_url'] = movie_url
        if movie_title:
            df.at[index, 'movie_title'] = movie_title
        if tagline:
          df.at[index,'tagline'] = tagline
        if production_companies:
          df.at[index,'production_companies'] = production_companies
        if production_countries:
          df.at[index,'production_countries'] = production_countries
        if cast:
          df.at[index,'cast'] = cast
        if crew:
          df.at[index,'crew'] = crew

In [18]:
print("null values")
print(df.isnull().sum())
print("empty values")
(df==' ').sum()

null values
id                       0
budget                   0
genres                   2
movie_url                0
imdb_id                  0
original_language        0
movie_title              0
overview                 0
popularity               0
poster_path              0
production_companies     8
production_countries     1
release_date             0
runtime                  0
spoken_languages         2
status                   0
tagline                 85
title                    0
keywords                32
cast                     1
crew                     0
revenue                  0
dtype: int64
empty values

id                      0
budget                  0
genres                  0
movie_url               0
imdb_id                 0
original_language       1
movie_title             0
overview                0
popularity              0
poster_path             0
production_companies    0
production_countries    0
release_date            0
runtime                 0
spoken_languages        0
status                  0
tagline                 0
title                   0
keywords                0
cast                    0
crew                    0
revenue                 0
dtype: int64

In [19]:
for column in df.columns:
    if df[column].isnull().sum() > 0 or (df[column] == '').sum() > 0:
        if df[column].dtype in ['float64', 'int64']:  # Numerical column
            mean_value = df[column].mean()
            df[column].fillna(mean_value, inplace=True)
            df[column].replace(' ', mean_value, inplace=True)
        else:  # Categorical column
            mode_value = df[column].mode()[0]
            df[column].fillna(mode_value, inplace=True)
            df[column].replace(' ', mode_value, inplace=True)

In [20]:
print("checking for null values :")
print(df.isnull().sum())
print("checking for empty values :")
(df == ' ').sum()

checking for null values :
id                      0
budget                  0
genres                  0
movie_url               0
imdb_id                 0
original_language       0
movie_title             0
overview                0
popularity              0
poster_path             0
production_companies    0
production_countries    0
release_date            0
runtime                 0
spoken_languages        0
status                  0
tagline                 0
title                   0
keywords                0
cast                    0
crew                    0
revenue                 0
dtype: int64
checking for empty values :

id                      0
budget                  0
genres                  0
movie_url               0
imdb_id                 0
original_language       1
movie_title             0
overview                0
popularity              0
poster_path             0
production_companies    0
production_countries    0
release_date            0
runtime                 0
spoken_languages        0
status                  0
tagline                 0
title                   0
keywords                0
cast                    0
crew                    0
revenue                 0
dtype: int64

In [21]:
mode_val=df['original_language'].mode()[0]
print(mode_val)

en

In [22]:
df['original_language'].replace(' ', mode_val,inplace=True)

In [23]:
print("checking for empty values :")
(df == ' ').sum()

checking for empty values :

id                      0
budget                  0
genres                  0
movie_url               0
imdb_id                 0
original_language       0
movie_title             0
overview                0
popularity              0
poster_path             0
production_companies    0
production_countries    0
release_date            0
runtime                 0
spoken_languages        0
status                  0
tagline                 0
title                   0
keywords                0
cast                    0
crew                    0
revenue                 0
dtype: int64

4)check for any dataframes that has revenue as 0, average the revenue for the rest of dataframes and add it.

In [24]:
(df['revenue']== 0).sum()

316

In [25]:
df[df['revenue']== 0 ].index

Index([   5,   21,   29,   35,   49,  112,  119,  175,  199,  241,
       ...
       3944, 3961, 3963, 3965, 3970, 3976, 3977, 3991, 3992, 3996],
      dtype='int64', length=316)

In [26]:
mean_val=df['revenue'].mean()
print(mean_val)

132965486.72665492

In [29]:
df['revenue'].replace(0,mean_val,inplace=True)

In [30]:
(df['revenue']== 0).sum()

0

convert that processed output(dataframes) to csv format

In [32]:
df.to_csv('/content/cleaned_data.csv', index=False)